<nav class="navbar">
    <div class="search-container">
        <i class="bi bi-search"></i>
        <input type="text" class="form-control" placeholder="Buscar estado" [(ngModel)]="searchTerm" (input)="filterStates()">
      </div>
</nav>

<div class="position-relative">
    
    <div *ngIf="filteredStateList.length > 0" class="filtered-list-container position-absolute">
      <div *ngFor="let state of filteredStateList">
        <p (click)="selectState(state, state.selected)">{{ state.name }}</p>
      </div>
    </div>

    <div class="polygon-buttons position-absolute bottom-position">
      <button (click)="activateDraw('Polygon')" class="btn feature-buttons">
        <i class="bi bi-hexagon"></i>
      </button>
      <button (click)="activateModifyTool()" class="btn feature-buttons">
        <i class="bi bi-trash"></i>
      </button>
    </div>

    <div class="polygon-buttons position-absolute top-position" *ngIf="selectedPolygon">
      <button (click)="removeSelectFeature()" class="btn feature-buttons">
        <i class="bi bi-trash"></i>
      </button>
      <button (click)="openComparedComponent()" class="btn feature-buttons">
        <i class="bi bi-grid-3x3-gap"></i>
      </button>
    </div>
  
    <div id="map" class="map" style="width: 100%; height: 88vh">
      <div id="tooltip" class="tooltip" style="display: none;"></div>
    </div>

</div>

<div *ngIf="comparedStates" class="modal-overlay">
  <app-state-compared [states]="statesToCompare" (close)="closeModal()"></app-state-compared>
</div>
