<nav class="navbar">
  <div class="search-container">
    <i class="bi bi-search"></i>
    <input type="text" class="form-control" placeholder="Buscar estado" [(ngModel)]="searchTerm"
      (input)="filterStates()">
  </div>
</nav>

<div class="position-relative">

  <div *ngIf="filteredStateList.length > 0" class="filtered-list-container position-absolute">
    <div *ngFor="let state of filteredStateList">
      <p (click)="selectState(state, state.selected)">{{ state.name }}</p>
    </div>
  </div>

  <div class="polygon-buttons position-absolute bottom-position">
    <button (click)="activateDrawPolygon()" class="btn feature-buttons" [ngClass]="{ 'btn-selected': drawPolygon !== null }">
      <i class="bi bi-hexagon"></i>
    </button>
    <button (click)="activateModifyTool()" class="btn feature-buttons" [ngClass]="{ 'btn-selected': modifyInteraction !== null }"
    [disabled]="!hasDrwanPolygons()">
      <i class="bi bi-arrows-angle-contract"></i>
    </button>
    <button (click)="activateTranformTool()" class="btn feature-buttons" [ngClass]="{ 'btn-selected': translateInteraction !== null }"
      [disabled]="!hasDrwanPolygons()">
      <i class="bi bi-arrows-move"></i>
    </button>
    <button (click)="activateDrawLine()" class="btn feature-buttons" [ngClass]="{ 'btn-selected': drawLine !== null }"
      [disabled]="!hasDrwanPolygons()">
      <i class="bi bi-intersect"></i>
    </button>
    <button (click)="intersectPolygons()" class="btn feature-buttons" [ngClass]="{ 'btn-selected': drawPolygonCut !== null }"
      [disabled]="!hasDrwanPolygons()">
      <i class="bi bi-scissors"></i>
    </button>
    <button (click)="intersectContainPolygon()" class="btn feature-buttons" [ngClass]="{ 'btn-selected': drawPolygonContainCut !== null }"
      [disabled]="!hasDrwanPolygons()">
      <i class="bi bi-box-arrow-in-down"></i>
    </button>

  </div>

  <div class="polygon-buttons position-absolute top-position" *ngIf="selectedPolygon">
    <button (click)="removeSelectFeature()" class="btn feature-buttons">
      <i class="bi bi-trash"></i>
    </button>
    <button (click)="openComparedComponent()" class="btn feature-buttons">
      <i class="bi bi-grid-3x3-gap"></i>
    </button>
  </div>

  <div id="map" class="map" style="width: 100%; height: 88vh">
    <div id="tooltip" class="tooltip" style="display: none;"></div>
  </div>

</div>

<div *ngIf="comparedStates" class="modal-overlay">
  <app-state-compared [states]="statesToCompare" (close)="closeModal()"></app-state-compared>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsts/2.6.1/jsts.js"></script>