.btn-primary {
  background-color: transparent;
  border-color: transparent;
  color: #0056b3;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    border-color: transparent;
    color: #0056b3;
    box-shadow: none;
  }
}

.row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
}

.flex-item {
  flex: 1 1 45%;
  min-width: 250px;
  box-sizing: border-box;
  margin: 10px;
}