.container {
  margin: auto;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-states-list {
  flex: 3;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-usa-map{
  flex : 1.5;
}
