<div *ngIf="viewMode == ViewMode.LIST_STATES">
    <div class="scroll-container">
        <table class="table table-hover table-responsive state-list w-100">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">State</th>
                    <th scope="col">Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let state of stateList">
                    <td>
                        <input type="checkbox" [(ngModel)]="state.selected" (change)="onSelectedChange(state)"
                            class="form-check-input" />
                    </td>
                    <td>{{ state.name }}</td>
                    <td>
                        <button (click)="viewDetails(state)" class="btn btn-danger btn-sm">
                            <i class="bi bi-eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-start mt-1">
        <button class="btn btn-primary btn-lg" (click)="openComparedComponent()">
            Compare
        </button>
    </div>
</div>

<div *ngIf="viewMode == ViewMode.LAYERS">
    <div class="scroll-container">
        <table class="table table-hover table-responsive state-list w-100">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Layer</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let layerItem of mapLayers">
                    <td>
                        <input type="checkbox" [(ngModel)]="layerItem.selected" (change)="onLayerSelectedChange(layerItem)"
                            class="form-check-input" />
                    </td>
                    <td>{{ layerItem.layer.get('name') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="viewMode == ViewMode.POLYGON_AREA" 
     class="polygon-area-container" 
     [ngClass]="selectedPolygon ? 'blue-theme' : 'red-theme'">
  
  <div *ngIf="selectedPolygon; else noPolygonSelected">
    <h4 style="color: black;">Polygon Area:</h4>
    <p>      {{ getSelectedPolygonArea() }}</p>
  </div>

  <ng-template #noPolygonSelected>
    <div>
      <p>Not polygon selected</p>
    </div>
  </ng-template>
</div>



<div *ngIf="stateSelected" class="modal-overlay">
    <app-state-detail *ngIf="stateSelected" [state]="stateSelected" (close)="closeModal()"></app-state-detail>
</div>

<div *ngIf="comparedStates" class="modal-overlay">
    <app-state-compared [states]="statesToCompare" (close)="closeModal()"></app-state-compared>
</div>