<div class="scroll-container">
  <table class="table table-hover table-responsive state-list w-100">
      <thead class="table-dark">
          <tr>
              <th scope="col">Select</th>
              <th scope="col">State</th>
              <th scope="col">Detail</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let state of stateList">
              <td>
                  <input 
                      type="checkbox" 
                      [(ngModel)]="state.selected" 
                      (change)="onSelectedChange(state)"
                      class="form-check-input"
                  />
              </td>
              <td>{{ state.name }}</td>
              <td>
                  <button (click)="viewDetails(state)" class="btn btn-primary btn-sm">Details</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

<div *ngIf="stateSelected" class="modal-overlay d-flex align-items-center justify-content-center">
  <div class="modal-content modal-full bg-white p-4 rounded" (click)="$event.stopPropagation()">
      <app-state-detail *ngIf="stateSelected" [state]="stateSelected" (close)="closeModal()"></app-state-detail>
      <button class="btn-close position-absolute top-0 end-0 m-2" (click)="closeModal()" aria-label="Close"></button>
  </div>
</div>
