<div class="scroll-container">
  <table class="table table-hover table-responsive state-list w-100">
      <thead class="table-dark">
          <tr>
              <th scope="col">Select</th>
              <th scope="col">State</th>
              <th scope="col">Detail</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let state of stateList">
              <td>
                  <input 
                      type="checkbox" 
                      [(ngModel)]="state.selected" 
                      (change)="onSelectedChange(state)"
                      class="form-check-input"
                  />
              </td>
              <td>{{ state.name }}</td>
              <td>
                  <!-- <button (click)="viewDetails(state)" class="btn btn-primary btn-sm">Details</button> -->
                  <button (click)="viewDetails(state)" class="btn btn-danger btn-sm">
                    <i class="bi bi-eye"></i>
                  </button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
<div class="text-start mt-1">
  <button class="btn btn-primary btn-lg" (click)="openComparedComponent()">
      Compare
  </button>
</div>


<div *ngIf="stateSelected" class="modal-overlay">
    <app-state-detail *ngIf="stateSelected" [state]="stateSelected" (close)="closeModal()"></app-state-detail>
</div>

<div *ngIf="comparedStates" class="modal-overlay">
    <app-state-compared [states]="statesToCompare" (close)="closeModal()"></app-state-compared>
</div>