.modal-content {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border-radius: 8px;
}
  
.modal-header {
    display: flex;
    align-items: center;
}
  
.modal-header .bi-x-circle {
    font-size: 2rem;
    color: white;
}
  
.modal-title {
    margin-bottom: 0;
}
  
.btn-close {
    background-color: transparent;
    border: none;
    color: white !important;
    font-size: 1.5rem;
    opacity: 1;
}
  
.btn-close:hover,
.btn-close:focus {
    opacity: 0.8;
}
  
.modal-body {
    text-align: center;
    opacity: 1;
}
  
.modal-dialog.modal-sm {
    max-width: 400px;
}
